fastapi
uvicorn[standard]
python-dotenv
openai
sqlalchemy
asyncpg
alembic
pydantic
pydantic-settings
langchain
langchain-ollama
langchain-openai
langgraph
opik
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
bcrypt==3.2.2
